<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Crop Monitoring System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">🌾 Smart Crop</div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <section class="hero">

        <h1>Smart Crop Monitoring System</h1>

        <p>
            AI Powered Crop Disease Detection and Smart Farming Solution
        </p>

        <a href="/login" class="btn">
            Get Started
        </a>

    </section>

    <section class="features">

    <div class="card">
        <h2>🌱 Disease Detection</h2>
        <p>Upload crop image and detect diseases using AI.</p>
    </div>

    <div class="card">
        <h2>💊 Treatment</h2>
        <p>Get treatment recommendations for detected diseases.</p>
    </div>

    <div class="card">
        <h2>📄 Reports</h2>
        <p>View and download crop monitoring reports.</p>
    </div>

</section>

</body>
</html>